.source2 .SiteHeader {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
.source2 .SiteHeader-bar:before,
.source2 .SiteHeader-submenu-container:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  transition: opacity 0.3s;
  opacity: 1;
  border-bottom: 1px solid #eee;
}
.page-transitioning .source2 .SiteHeader-bar:before,
.page-transitioning .source2 .SiteHeader-submenu-container:before {
  transition-duration: 0s !important;
}
.has-transparent-header .source2 .SiteHeader-bar:before,
.has-transparent-header .source2 .SiteHeader-submenu-container:before {
  opacity: 0;
}
.source2 .SiteHeader-bar {
  z-index: 1;
  pointer-events: none;
  position: relative;
}
.source2 .SiteHeader-logo,
.source2 .SiteHeader-menuToggle,
.source2 .SiteHeader-search {
  font-size: 0;
}
.source2 .SiteHeader-logo,
.source2 .SiteHeader-search,
.source2 .SiteHeader-menuToggle,
.source2 .SiteHeader-parentLink {
  top: 1.78571rem;
  position: absolute;
  pointer-events: auto;
  transition: color 0.15s linear, opacity 0.2s;
}
.page-transitioning .source2 .SiteHeader-logo,
.page-transitioning .source2 .SiteHeader-search,
.page-transitioning .source2 .SiteHeader-menuToggle,
.page-transitioning .source2 .SiteHeader-parentLink {
  transition-duration: 0s !important;
}
.has-inverted-header.has-transparent-header .source2 .SiteHeader-logo,
.has-inverted-header.has-transparent-header .source2 .SiteHeader-search,
.has-inverted-header.has-transparent-header .source2 .SiteHeader-menuToggle,
.has-inverted-header.has-transparent-header .source2 .SiteHeader-parentLink {
  color: #000;
}
.source2 .SiteHeader-logo .show-menu,
.source2 .SiteHeader-search .show-menu,
.source2 .SiteHeader-parentLink .show-menu {
  color: #000 !important;
  opacity: 0;
  pointer-events: none;
}
.source2 .SiteHeader-logo {
  display: block;
  left: 50%;
  transform: translate(-50%, -50%);
}
.source2 .SiteHeader-logo svg {
  height: 100px;
  width: auto;
  fill: currentColor;
}
.source2 .SiteHeader-menuToggle {
  width: rem(22px);
  height: rem(22px);
  display: inline-block;
  z-index: 3;
  pointer-events: auto;
}
.show-menu .source2 .SiteHeader-menuToggle {
  color: #000 !important;
}
.source2 .SiteHeader-parentLink {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1;
  left: 12.2vw;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  transform: translateY(-50%);
}
.source2 .SiteHeader-parentLink:hover {
  text-decoration: none;
}
.source2 .SiteHeader-parentLinkArrow {
  margin-right: 0.5rem;
  transform: translate3D(-1.5rem, 0, 0);
  opacity: 0;
  transition: 0.3s transform, 0.3s opacity;
  will-change: transform;
}
a:hover .source2 .SiteHeader-parentLinkArrow, .has-scrolled.has-scrolled-up .source2 .SiteHeader-parentLinkArrow {
  opacity: 1;
  transform: translate3D(0, 0, 0);
}
.source2 .SiteHeader-parentLinkArrow .Icon {
  transform: rotate(180deg);
}
.source2 .SiteHeader-parentLinkLabel {
  padding-top: 0.1em;
  transform: translate3D(-1.5rem, 0, 0);
  transition: 0.3s transform;
  will-change: transform;
}
a:hover .source2 .SiteHeader-parentLinkLabel, .has-scrolled.has-scrolled-up .source2 .SiteHeader-parentLinkLabel {
  transform: translate3D(0, 0, 0);
}
.source2 .SiteHeader-menuIcon {
  pointer-events: none;
  transition: transform 0.25s ease-in;
  will-change: transform;
}
.source2 .SiteHeader-menuIcon line {
  transform-origin: 50% 50%;
  transition-property: transform, opacity;
  transition-duration: 0.15s;
  will-change: opacity, transform;
}
.source2 .SiteHeader-menuIcon line:first-child, .source2 .SiteHeader-menuIcon line:last-child {
  transition-delay: 0.25s;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
.source2 .SiteHeader-menuIcon line:nth-child(2) {
  transform: rotate(0.1deg);
  transition-duration: 0.25s;
  transition-timing-function: ease-in;
}
[aria-pressed=true] .source2 .SiteHeader-menuIcon {
  transform: rotate(135deg);
  transition: transform 0.3s ease-out 0.15s;
}
[aria-pressed=true] .source2 .SiteHeader-menuIcon line:first-child, [aria-pressed=true] .source2 .SiteHeader-menuIcon line:last-child {
  transition-delay: 0s;
  transition-duration: 0.15s;
  transition-timing-function: ease-in;
}
[aria-pressed=true] .source2 .SiteHeader-menuIcon line:first-child {
  transform: translate(0, 6px);
  opacity: 0;
}
[aria-pressed=true] .source2 .SiteHeader-menuIcon line:nth-child(2) {
  transform: rotate(90deg);
  transition-delay: 0.15s;
  transition-duration: 0.15s;
}
[aria-pressed=true] .source2 .SiteHeader-menuIcon line:last-child {
  transform: translate(0, -6px);
}
.source2 .SiteHeader-search {
  transform: translateY(-50%);
  z-index: 4;
  cursor: pointer;
}
.source2 .SiteHeader-search .Icon--lens {
  transition: opacity 0.25s;
  transition-delay: 0.1s;
}
.source2 .SiteHeader-search[aria-pressed=true] .Icon--lens {
  opacity: 0;
  transition-duration: 0.3s;
  transition-delay: 0s;
}
.source2 .SiteHeader-search-close {
  color: #000;
  position: absolute;
  left: 0;
  top: 0;
  transition-property: transform opacity;
  opacity: 0;
  transition-duration: 0.25s;
  transition-timing-function: ease-in;
  will-change: transform;
}
[aria-pressed=true] .source2 .SiteHeader-search-close {
  opacity: 1;
  transform: rotate(135deg);
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-delay: 0.15s;
}
.source2 .SiteHeader-search-close line {
  transform-origin: 50% 50%;
  transition-property: transform, opacity;
  transition-duration: 0.15s;
  will-change: opacity, transform;
}
.source2 .SiteHeader-search-close line:first-child, .source2 .SiteHeader-search-close line:last-child {
  transition-delay: 0.25s;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
.source2 .SiteHeader-search-close line:nth-child(2) {
  transform: rotate(0.1deg);
  transition-duration: 0.25s;
  transition-timing-function: ease-in;
}
.source2 .SiteHeader-search-close line {
  transform-origin: 50% 50%;
  transition-property: transform, opacity;
  transition-duration: 0.15s;
}
.source2 .SiteHeader-search-close line:first-child, .source2 .SiteHeader-search-close line:last-child {
  transition-delay: 0s;
  transition-duration: 0.15s;
  transition-timing-function: ease-in;
}
.source2 .SiteHeader-search-close line:first-child {
  transform: translate(0, 6px);
  opacity: 0;
}
.source2 .SiteHeader-search-close line:nth-child(2) {
  transform: rotate(90deg);
  transition-delay: 0.15s;
  transition-duration: 0.15s;
}
.source2 .SiteHeader-search-close line:last-child {
  transform: translate(0, -6px);
}
.source2 .SiteHeader-submenu {
  overflow: hidden;
  padding-bottom: 1px;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}
.source2 .SiteHeader-submenu-container {
  height: 3.8125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 100;
  text-transform: uppercase;
  font-weight: 400;
  transition: transform 0.6s, opacity 0.2s, color 0.15s;
  will-change: transform;
}
.page-transitioning .source2 .SiteHeader-submenu-container {
  transition-duration: 0s !important;
}
.has-inverted-header.has-transparent-header .source2 .SiteHeader-submenu-container {
  color: #000;
}
.has-scrolled.has-scrolled-down .source2 .SiteHeader-submenu-container {
  transform: translateY(-100%);
  opacity: 0;
}
.show-menu .source2 .SiteHeader-submenu-container, .show-search .source2 .SiteHeader-submenu-container {
  opacity: 0;
  pointer-events: none;
  margin-top: 0;
}
.source2 .SiteHeader-submenu-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.source2 .SiteHeader-submenu-container li:not(:last-child) {
  margin-right: 3rem;
}
.source2 .SiteHeader-submenu-container li.has-grid-icon a:before {
  content: "";
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
}
.source2 .SiteHeader-submenu-container a {
  display: flex;
  align-items: center;
  color: currentColor;
  opacity: 0.3;
  transition: opacity 0.3s;
  will-change: opacity;
  letter-spacing: default;
  text-decoration: none;
}
.source2 .SiteHeader-submenu-container a:hover {
  opacity: 0.6;
}
.source2 .SiteHeader-submenu-container .is-active a, .tpl-home .source2 .SiteHeader-submenu-container a {
  opacity: 1;
}
.source2 .SiteHeader-overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: calc(var(--actual-vh) * 100);
  pointer-events: none;
}
.source2 .show-menu .SiteHeader-overlay--menu,
.source2 .show-search .SiteHeader-overlay--search {
  pointer-events: auto;
  z-index: 2;
}
.source2 .show-menu .SiteHeader-overlay--menu .SiteHeader-overlay-bg,
.source2 .show-search .SiteHeader-overlay--search .SiteHeader-overlay-bg {
  transform: scaleY(1);
}
.source2 .SiteHeader-overlay-bg {
  background-color: #fff;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: 0 0;
  transform: scaleY(0);
  transition: transform 0.6s cubic-bezier("easeOutQuart");
}
.source2 .SiteHeader-overlay-wrapper {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
@media screen and (max-width: 25em) {
  .source2 .scrollable-list {
    overflow-x: auto;
  }
  .source2 .scrollable-list::-webkit-scrollbar {
    display: none;
  }
  .source2 .scrollable-ul {
    display: flex;
    white-space: nowrap;
  }
  .source2 .scrollable-ul li {
    padding: 0 10px;
  }
}
